
body{
    background: lightblue;
}
.header{
    width: 400px;
    height: 100px;
    text-align: center;
    padding: 8px;
    background: rgb(129, 220, 158);
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(2, 51, 10, 0.72);
    color: white;
}
.brain{
    position: absolute;
    width: 40px;
    left: 10px;
    top: 18px;
}
.wifi{
    position: absolute;
    width: 40px;
    left: 388px;
    top: 40px;

}

.pg2{
    width: 600px;
    height: 150px;
    position: relative;
    left: 10%;
    bottom: 75%;
    text-align: center;
    padding: 8px;
    background: rgb(249, 161, 78);
    border-radius: 90px;
    box-shadow: 0 4px 10px rgba(2, 51, 10, 0.72);
    color: white; 
    font-size: 40px;
}
button{
    border: none;
    text-decoration: none;
    background: none;
    font-family: 'Times New Roman', Times, serif;
}

.brain2{
    position: absolute;
    width: 100px;
    top: 40px;
    right: 90px;
}

.pg3{
    width: 430px;
    height: 430px;
    position: relative;
    left: 40%;
    bottom: 30%;
    text-align: center;
    background: rgb(240, 227, 105);
    border-radius: 90px;
    box-shadow: 0 4px 10px rgba(2, 51, 10, 0.72);
    color: white; 
    font-size: 40px;
}
.info{
    position: relative;
    right: 15%;
    padding: 40%;
}
.star{
    position: absolute;
    width: 100px;
    top: 10px;
    left: 10px;
}
.star2{
    position: absolute;
    width: 100px;
    bottom: 10px;
    right: 10px;
}

.pg4{
    width: 500px;
    height: 400px;
    position: relative;
    left: 25%;
    bottom: 65%;
    text-align: center;
    background: rgb(177, 127, 237);
    border-radius: 90px;
    box-shadow: 0 4px 10px rgba(2, 51, 10, 0.72);
    color: white; 
    font-size: 40px;  
}
.info2{
    position: relative;
    padding: 30%; 
}
.face{
    position: absolute;
    width: 100px;
    top: 30px;
    left: 10px;
}
.face2{
    position: absolute;
    width: 100px;
    right: 30px;
    bottom: 10px; 
}

.pg5{
    width: 500px;
    height: 300px;
    position: relative;
    left: 60%;
    bottom: 60%;
    text-align: center;
    background: rgb(253, 149, 218);
    border-radius: 90px;
    box-shadow: 0 4px 10px rgba(2, 51, 10, 0.72);
    color: white; 
    font-size: 40px;
}
.info3{
    position: relative;
    padding: 22%;
}
.cloud{
    position: absolute;
    width: 100px;
    left: 30px;
    top: 10px;
}
.cloud2{
    position: absolute;
    width: 100px;
    right: 30px;
    bottom: 10px;
}